version: "3.9"

services:
  web:
    build: .
    command: sh -c "python wait_for_db.py && python manage.py runserver 0.0.0.0:8000 --noreload"
    volumes:
      - ./app:/app
      - media_volume:/app/media  
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_NAME: complaint_db
      DB_USER: complaint_user
      DB_PASSWORD: complaint_pass
      DB_PORT: 3306
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: complaint_db
      MYSQL_USER: complaint_user
      MYSQL_PASSWORD: complaint_pass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
  media_volume:  